# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Generated assets
assets/
assets/audio/*
assets/images/*
assets/music/*
assets/temp/*
assets/output/*

# Model cache (HuggingFace)
.cache/
*.ckpt
*.safetensors

# Environment variables
.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

#Google OAuth secrets
client_secret.json
token.pickle